<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabonacci</title>
</head>
<body>
    <h1>Fabonacci series generator</h1>
    <hr>
    <form action = "/fibo_post/" method = "GET">
        <label for="Enter a value">Enter a value :  </label>
        <input id="value" type="text" name="value">
        <br>
        <input type="submit" value="Submit">
        <hr>
        
    </form>
    <p> {{message}}</p>
   
    {% for series in all_series %}
        <p><span>The first {{series.numstr}} in fibonacii series : {{ series.terms }}</span></p>
    {% endfor %}
</body>
</html>